 # name: SmallScreen
# on:
#  push:
#    branches: 'feature-1'


# jobs:
#   compile:
#     runs-on: ubuntu-latest

#     steps:
#     # this will create a local copy in the runner 
#       - name: GITCHECK-MAHI
#         uses: actions/checkout@v4
#    # this is the java code we need to set java so that 
#       - name: SETTING JAVA TO RUN THE CODE
#         uses: actions/setup-java@v4
#         with:
#           java-version: '17'
#           distribution: 'temurin'
#   # this step will compile out code 
#   # compile means -- .java to .class then we can get .jar / .war files 
#       - name: COMPILE
#         run: mvn compile

        
#   SecurityScan:
#    runs-on: ubuntu-latest
#    needs: compile

#    steps:
#      - name: Checkout- again
#        uses: actions/checkout@v4
# # if you use shared runner -- git ( public runner ) every time you need to use this install if own no need

#      - name: Trivy install
#        run: |
#          sudo apt-get install -y wget apt-transport-https gnupg lsb-release
#          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
#          echo "deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main" | sudo tee -a /etc/apt/sources.list.d/trivy.list
#          sudo apt-get update -y
#          sudo apt-get install -y trivy

#      - name: Trivy Scan
#        run: trivy fs --format table -o fs-report.json .
#   # this tell us if any hardcoded value is present in the source code-- sensitive data -- it will tell
#      - name: Gitleaks install
#        run: sudo apt install gitleaks -y

#      - name: gitleak scan
#        run: gitleaks detect source . -r firstgitleak.json -f json


name: SmallScreen

on:
 push:
   branches: 'feature-1'

jobs:
  COMPILE:
  # this is the runner which iam using ( self-hosted is the label )
   runs-on: self-hosted
   steps:
   # this will create a local copy of source code inside the runner 
     - name: GIT-CHECKOUT
     # github actions are pre jobs to set up and do the things
       uses: actions/checkout@v4
     - name: JAVA JDK SETUP
       uses: actions/setup-java@v4
       with:
         java-version: '17'
         # it will install jdk tools automatically without commands
         distribution: 'temurin'
#  for compiling we need maven 
     - name: Installing MAVEN
       run:  sudo apt install maven -y
       # compile is imp -- .java to .class change and get .jar/.war files as artifacts
     - name: COMPILE SOURCE-CODE
       run: mvn compile
       

    # we are using 2nd taks so that clearly we can understand    
  SECURITY-TEST:
   runs-on: self-hosted
   # this step is very important --- next by by it will run (1st compile after finish it will run next )
   needs: COMPILE
   steps:
   # trivy is the tool for scanning source code -- vul scanner for source code and images also 
     - name: Installing Trivy
     # here | by using this we can write multiple commands to run
       run: |
         sudo apt-get install -y wget apt-transport-https gnupg lsb-release
         wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
         echo "deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main" | sudo tee -a /etc/apt/sources.list.d/trivy.list
         sudo apt-get update
         sudo apt-get install -y trivy
     - name: TRIVY-SCAN
     # here trivy , fs - file system, we are asking into table format, saving output in .json ( txt ) we can 
       run: trivy fs --format table -o fs-report.json .
# this is the tool to find the hard coded sensitve data to find in source code
     - name: GITLEAKS Install & SCAN
       run: |
         sudo apt install gitleaks -y
         gitleaks detect source . -r gitleaksmahi-report.json -f json


         
  UNIT-TESTING:
   runs-on: self-hosted
   needs: SECURITY-TEST
   steps:
     - uses: actions/checkout@v4
     - name: JAVA
       uses: actions/setup-java@v4
       with:
         java-version: '17'
         distribution: 'temurin'
         # unti testing is imp to find the code bugs and we can improve the quality of code
         # it verify each componet in the code and check the syntax and all
     - name: Unit-Testing
       run: mvn test



       # now we are trying to integrate SONAR-SCAN 
       # for that we are going to DOcker container-- sudo apt install docker.io
        # permission to ubuntu user by the commands 
        # sudo usermod -aG docker $USER
        # newgrp docker
        # docker run -d --name sonar -p 9000:9000 sonarqube:lts-community

  BUILD-PROJECT:
   runs-on: self-hosted
   needs: UNIT-TESTING
   steps:
     - uses: actions/checkout@v4
     - name: Setup jdk
       uses: actions/setup-java@v4
       with:
         java-version: '17'
         distribution: 'temurin'
     - name: Build Project
       run: mvn package



  SONAR-SCAN:
   runs-on: self-hosted
   needs: BUILD-PROJECT
   steps:
     - uses: actions/checkout@v4
       with:
         fetch-depth: 0
         
     - name: SONAR-SCANNING
       uses: SonarSource/sonarqube-scan-actions@v2
       env:
         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
         SONAR-URL: ${{ vars.SONAR_URL }}
         
     - name: SONAR-GATTING
       id: sonarqube-quality-gate-check
       uses: SonarSource/sonarqube-quality-gate-action@v1.1.0
       timeout-minutes: 5
       env:
         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
         SONAR-URL: ${{ vars.SONAR_URL }}

         
         


        

       
         



          


       

       


       

       


       

        
